{% extends "base.html" %}
{% block content %}


<!-- Header Start -->
<section class="header-bg align-items-center position-relative d-flex" id="top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="header-title">
                    <p class="highlight font-weight-bold size-16 text-uppercase header-small-title title mb-3 ml-1">Bootstrap Theme</p>
                    <h1 class="font-weight-bold main-title mb-4">Creating Bootstrap Theme From Scratch</h1>
                    <p class="text-sub ml-2 mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a href="" class="btn btn-primary ml-2">Learn More <span class="ml-2 right-icon"><i class="fas fa-arrow-right"></i></span></a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="mt-5 mt-lg-0">
                    <img src="images/header-2.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header End -->

<!-- Services Start -->
<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <div class="text-center mb-5">
                    <h2 class="highlight header-colorize text-uppercase mb-3">Our Services</h2>
                    <p class="text-sub size-14">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-container pr-4 pl-4">
                    <div class="services-icon mt-3">
                        <i class="far fa-window-maximize"></i>
                    </div>
                    <h4 class="mb-4 mt-4 services-title">Web Design</h4>
                    <p class="text-sub size-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-container pr-4 pl-4">
                    <div class="services-icon mt-3">
                        <i class="far fa-window-restore"></i>
                    </div>
                    <h4 class="mb-4 mt-4 services-title">App Development</h4>
                    <p class="text-sub size-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-container pr-4 pl-4">
                    <div class="services-icon mt-3">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <h4 class="mb-4 mt-4 services-title">Mobile Development</h4>
                    <p class="text-sub size-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Services End -->

<!-- About Start -->
<section class="section bg-grey" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h2 class="highlight header-colorize text-uppercase mb-3">About Us</h2>
                    <p class="text-sub size-14">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="/images/science.jpg" alt="mecachis">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="text-sub mt-5 mt-lg-0">
                    <h3 class="title font-weight-medium mb-4">A perfect bootstrap theme for all types of business.</h3>
                    <p class="mb-4 size-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <p class="mb-4 size-15">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <a href="" class="learn-more size-15">Learn more <span class="ml-2 right-icon"><i class="fas fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->

<!-- Accomplished Start -->
<Section class="section accomplished-counter-bg">
    <div class="accomplished-counter-bg"></div>
    <div class="container">
        <div class="row align-items-center" id="accomplished-counter">
            <div class="col-lg-3 col-md-6">
                <div class="accomplished-counter-box text-center px-4 py-5 mb-4 mb-lg-0">
                    <div class="text-white">
                        <i class="far fa-window-maximize accomplished-counter-icon mx-auto"></i>
                        <h1 class="mb-2 mt-3"><span class="accomplished-counter-value mt-4" counter="90">0</span>+</h1>
                        <p class="mb-0 text-white-70">Websites</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="accomplished-counter-box text-center mb-4 mb-lg-0 px-4 py-5">
                    <div class="text-white">
                        <i class="far fa-window-restore accomplished-counter-icon mx-auto"></i>
                        <h1 class="mb-2 mt-3"><span class="accomplished-counter-value mt-4" counter="82">0</span>+</h1>
                        <p class="mb-0 text-white-70">Applications</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="accomplished-counter-box text-center mb-4 mb-lg-0 px-4 py-5">
                    <div class="text-white">
                        <i class="fas fa-mobile-alt accomplished-counter-icon mx-auto"></i>
                        <h1 class="mb-2 mt-3"><span class="accomplished-counter-value mt-4" counter="15">0</span></h1>
                        <p class="mb-0 text-white-70">Mobile Apps</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="accomplished-counter-box text-center mb-4 mb-lg-0 px-4 py-5">
                    <div class="text-white">
                        <i class="far fa-smile-beam accomplished-counter-icon mx-auto"></i>
                        <h1 class="mb-2 mt-3"><span class="accomplished-counter-value mt-4" counter="187">0</span></h1>
                        <p class="mb-0 text-white-70">Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
<!-- Accomplished End -->

<!-- Testimonials Start -->
<section class="section bg-grey" id="testimonials">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h2 class="highlight text-uppercase mb-3 header-colorize">Testimonials</h2>
                    <p class="text-sub size-14">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-center m-auto">


      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHNjaWVuY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1495592822108-9e6261896da8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHNjaWVuY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1501740326664-5571ff5e30a6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNjaWVuY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

    </div>
        </div>
    </div>
</section>
<!-- Testimonials End -->

<!-- Contact Start -->
    <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="text-center mb-5">
                         <h2 class="highlight header-colorize text-uppercase mb-3">Contact</h2>
                        <p class="text-sub size-14">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h4 class="title mb-4">Get Connected</h4>
                        <p class="text-sub size-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                           <p class="text-sub size-15 mb-4"><i class="fas fa-phone"></i> 659-888-5495</p>
                        <p class="text-sub size-15 mb-4"><i class="fas fa-mobile-alt"></i> +1-689-888-5495</p>
                        <p class="text-sub size-15 mb-4"><i class="fas fa-envelope"></i> info@example.com</p>
                        <p class="text-sub size-15 mb-4"><i class="fas fa-map-marker-alt"></i> 200 Lexington Ave, New York, NY 10016, USA</p>
                    </div>
                </div>

                <div class="col-lg-7 offset-lg-1">
                    <div class="custom-form mt-4 mt-lg-0">
                        <form>
                            <div class="row">
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter Your Email.." />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="subject">Subject:</label>
                                        <input type="text" class="form-control" id="subject" placeholder="Enter Your Subject.." />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="message">Message:</label>
                                        <textarea name="message" id="message" rows="4" class="form-control" placeholder="Enter Your Message.."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                     <button href="" class="btn btn-primary"><span class="mr-2 left-icon"><i class="fas fa-envelope"></i></span> Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact End -->

    <!-- Footer Start -->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <p class="text-center white">2020 © Kleo. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer End -->




{% endblock %}
